<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/getting-started/">Getting Started</a></li>
	<li class="nav-events" role="menuitem"><a href="{{site.baseurl}}tag/events/">Events</a></li>
	<li class="nav-faq" role="menuitem"><a href="{{site.baseurl}}faq/">FAQ</a></li>
	<li class="nav-contact" role="menuitem"><a href="{{site.baseurl}}contact-us/">Contact Us</a></li>
</ul>
